# Copy this to .env and fill in your TopstepX API credentials.
# Obtain these from TopstepX account settings after enabling API access:
# https://help.topstepx.com/en/articles/11187768-topstepx-api-access

TOPSTEPX_USERNAME=fearcutter
TOPSTEPX_API_KEY=n+oWBbY1hqZtktCCQhKoCuyPOoBMk59JcGomheY9Umo=
